<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Thierno Souleymane Diallo">
	<meta name="description" content=" A platform for users to share the awesome and exciting  recipe ideas they have invented or learnt">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" >
	<link rel="stylesheet"  href="../css/bootstrap.min.css">  
	<link rel="stylesheet"  href="../css/style.css">

</head>
<body>
    <nav class="myprofile-nav">
        <p>
		    <span id="brand"><a href="#">More-Recipes</a></span>
	        <span class="nav-elements">
	        <a href="#">Profile</a>
	        <a href="#">My recipes</a>
	        <a href="#">Add recipe </a>
	        <a href="#">Signout</a>
	        <a href="#">help</a>
	        </span>
		</p>
    </nav>

    <footer>
	    <p> More-Recipes 2017.</p>
    </footer>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/tether.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>