<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Thierno Souleymane Diallo">
    <meta name="description" content=" A platform for users to share the awesome and exciting  recipe ideas they have invented or learnt">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
    <link rel="stylesheet"  href="../css/style.css">


</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" id="brand-name" href="#">More-Recipe</a>  
    </nav>
    
    <div class="card">
    <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <img src=""
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    <div class="row list-favorite">
        <main class="col-md-8 bg-faded" id="main-page">
            
        </main>
        <aside class="col-md-4 bg-faded">
            <h3> Most favorites recipes</h3>
            
        </aside>
        </div>

    <!-- <nav class="myprofile-nav">
        <p>
		    <span id="brand"><a href="#">More-Recipes</a></span>
	        <span class="nav-elements">
	        <a href="#">Profile</a>
	        <a href="#">My recipes</a>
	        <a href="#">Add recipe </a>
	        <a href="#">Signout</a>
	        <a href="#">help</a>
	        </span>
		</p>
    </nav>
    <main class="main-profile">
        <div class="my-profile-main">
    	<h3>Welcome to your profile page </h3>
    	<p>you can add, edit or delete your recipes</p>
    	<p>you have only 1 recipe added</p>
    	<ul>
    		<a class="btn-lg btn-primary" href="#">Add recipe</a>
    		<a class="btn-lg btn-primary" href="#">Edit recipe</a>
    		<a class="btn-lg btn-primary" href="#">Delete recipe </a>
    	</ul>
    	</div>
    	<div class="my-favorite-recipe">
    	    <h3>My favorite recipes</h3>
    	    <p>You have not yet pick a favorite recipe</p>
    		
    	</div>

    </main>
    <footer class="profile-footer">
	    <p> More-Recipes 2017.</p>
    </footer> -->

<script src="https://use.fontawesome.com/a7a78ad18e.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="../js/app.js"></script>
</body>
</html>