<!DOCTYPE html>
<html>
<head>
	<title>Recipe-details</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Thierno Souleymane Diallo">
	<meta name="description" content=" A platform for users to share the awesome and exciting  recipe ideas they have invented or learnt">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" >
	<link rel="stylesheet"  href="../css/bootstrap.min.css">  
	<link rel="stylesheet"  href="../css/style.css">

</head>
<body>
    <nav class="my-navbar">
	    <p>
		    <span id="log"><a href="#">More-Recipes</a></span>
		    <a href="#">SIGN UP</a>
		    <a href="#"> LOGIN</a>
	    </p>
    </nav>    
    <div class="recipe-detail">
	    <h2> Steamed White rice </h2>
	    <img src="../assets/rice.jpg" alt="rice-image">
	    <div class="recipe-review">
		      <span>Review:      </span><span>☆☆☆☆☆</span>
		</div>
	    <p>
	        <em>By : Diallo Thierno souleymane </em>
	    </p>
	    <div class="ingredients">
	    <h4>Ingredients</h4>
	    <ul>
	    	<li>2 cup long grain rice</li>
	    	<li>3 cup of water</li>
                 
	    </ul>	
	    </div>
	    <div class="direction">
        <h4>Direction</h4>
	    <ol>
	    	<li>Put the rice in a 3 quart pot or saucepan with a tight fitting lid (don't put the lid on yet!) and pour in the water.
	    	</li>
	    	<li>Bring to a boil, and cook until the surface looks "cratery" (like the surface of hot lava or something). 
	    	</li>
	    	<li>Reduce heat to low, cover, and cook for about ten minutes, till the water is gone. 
	    	</li>
	    	<li>Let rice stand for a minute or two, then remove the lid, fluff the rice, and serve! 
	    	</li>
	    </ol>
        </div>
        <div class="add-review">
	        <form>
	        <h3>Review this recipe</h3>
	        <div class="rating">
			     <span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			     <span>☆</span>
			</div>
	        <div class="form-group">
	            <button class="btn btn-lg btn-primary btn-block">
	            Login to add Review
	            </button>
	        </div>	

	        </form>
	        	
	        <div class="upvote-dowvote">
	            <h3>Upvote or downvote this recipe</h3>
		        <div class="arrow-up"></div>
		        <div class="arrow-down"></div>  
		    </div>
		    <a href="../index.html" >Go Back</a>
	    </div>
	</div>
    <footer>
	    <p> More-Recipes 2017.</p>
    </footer>


<script src="../js/jquery.min.js"></script>
<script src="../js/tether.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>