<!DOCTYPE html>
<html>
<head>
	<title>Recipe-detail</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Thierno Souleymane Diallo">
	<meta name="description" content=" A platform for users to share the awesome and exciting  recipe ideas they have invented or learnt">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
	<link rel="stylesheet"  href="../css/style.css">

</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	    </button>
	    <a class="navbar-brand" id="brand-name" href="#">More-Recipe</a>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav ml-auto">
			    <li class="nav-item">
			        <a class="nav-link" href="../pages/signup.html">Sign in</a>
			    </li>
			    <li class="nav-item">
			        <a class="nav-link" href="../pages/login.html">Login</a>
			    </li>
			    <li class="nav-item">
				    <a class="nav-link" href="#">
				    <img class="profile-avatar" src="../assets/avatar.jpeg" alt=""/>
				    </a>
			    </li>
		    </ul>
	    </div>
	</nav>  
    <div class="recipe-detail container ">
	    <h1> Steamed White rice </h1>
	        <div class="review-img-icon bg-faded">
			    <div class="recipe-review bg-faded">
				        <span class="first-review">Reviews: 10 </span>
				        <span class="review-icon">☆☆☆☆☆</span>
				        <span><a href="#review">Add review</a></span>
				        <span>
				           <i class="fa fa-pencil" aria-hidden="true"></i>
		                </span>
		                <span class="detail-upvote-icon">
				            <i class="fa fa-thumbs-up" aria-hidden="true"></i>

				        </span> 
				        <span class="">
				            <i class="fa fa-thumbs-down" aria-hidden="true">
				            </i>  
				        </span> 
				</div>
			    <img src="../assets/rice.jpg" alt="rice-image">
			    <div class="recipe-review">
				        <span class="first-review "><a href="#">Edit the recipe</a>  </span>
				        <span class="review-icon">
				           <i class="fa fa-pencil" aria-hidden="true"></i>
		                </span>
		                <span><a href="#" class="delete-recipe">Delete Recipe</a></span>
		                <span class="delete-recipe">
				           <i class="fa fa-trash-o" aria-hidden="true"></i>
				        </span> 
				</div>
			</div>
	    <div class="recipe-review">
		        

		</div>
	    <p>
	        <em>By : Diallo Thierno souleymane </em>
	    </p>
	    <div class="ingredients bg-faded">
	    <h4>Ingredients</h4>
	    <ul>
	    	<li>2 cup long grain rice</li>
	    	<li>3 cup of water</li>
                 
	    </ul>	
	    </div>
	    <div class="direction bg-faded">
        <h4>Direction</h4>
	    <ol>
	    	<li>Put the rice in a 3 quart pot or saucepan with a tight fitting lid (don't put the lid on yet!) and pour in the water.
	    	</li>
	    	<li>Bring to a boil, and cook until the surface looks "cratery" (like the surface of hot lava or something). 
	    	</li>
	    	<li>Reduce heat to low, cover, and cook for about ten minutes, till the water is gone. 
	    	</li>
	    	<li>Let rice stand for a minute or two, then remove the lid, fluff the rice, and serve! 
	    	</li>
	    </ol>
        </div>
        <div class="add-review bg-faded" id="review">
	        <form>
		        <h3>Review this recipe</h3>
		        <div class="rating">
		            <p class="p-rate">Rate this recipe</p>
				     <span class="rate-text"></span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
				     <span>☆</span>
				     
				</div>
				<div class="form-group">
			        <label for="exampleTextarea"></label>
			        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Enter your Rewiew"></textarea>
			    </div>
			    <button type="submit" class="btn btn-primary">Add Review</button>
			</form>
	       
	    </div>

	</div>
    <footer>
	    <p> More-Recipes 2017.</p>
    </footer>


<script src="https://use.fontawesome.com/a7a78ad18e.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="../js/app.js"></script>
</body>
</html>