<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Thierno Souleymane Diallo">
	<meta name="description" content=" A platform for users to share the awesome and exciting  recipe ideas they have invented or learnt">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
	<link rel="stylesheet"  href="../css/style.css">

</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	    <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	    </button> -->
	    <a class="navbar-brand" id="brand-name" href="#">More-Recipe</a>
	    <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav ml-auto">
			    <li class="nav-item active">
			    <a class="nav-link" href="../pages/signup.html">Sign in</a>
			    </li>
			    <li class="nav-item">
			    <a class="nav-link" href="../pages/login.html">Login</a>
			    </li>
			    <li class="nav-item">
			    <a class="nav-link" href="../pages/profile.html">
			    <img class="profile-avatar" src="../assets/avatar.jpeg" alt=""/>
			    </a>
			    </li>
		    </ul>
	    </div> -->
	</nav>

    <div class="container signup-page bg-faded">   
	    <h1>Welcome to More-Recipes!</h1>
	    <h2>Sign Up</h2>
	    <div class="singup-form">
	        <form action="." method="post">
	        <div class="form-group">
	                <input class="form-control" type="text" name="name" placeholder="name">
	         </div>
	            <div class="form-group">
	                <input class="form-control" type="text" name="username" placeholder="username">
	            </div>
	            <div class="form-group">
	                <input class="form-control" type="password" name="password" placeholder="password">
	            </div>
	            <div class="form-group">
	                <button class="btn btn-lg btn-primary btn-block">
	                Get Started!</button>
	            </div>
	        </form>
	    </div>
    </div>
    <footer>
	    <p> More-Recipes 2017.</p>
    </footer>


<script src="https://use.fontawesome.com/a7a78ad18e.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="../js/app.js"></script>
</body>
</html>