/*****************************************/
    /*COLORS*/
/*****************************************/
/*
#5fabc9;
#fff;
#36454f; 
#23262e;

*/

/*****************************************/
    /*NAVBAR STYLING*/
/*****************************************/
nav{
  margin-bottom: 2%;
}

.navbar-nav img {
  max-height:30px;
  width:auto;
  vertical-align:middle;
}

#brand-name {
	color: #5fabc9;
	font-weight: 800;
	font-size: 2 em;
}



/*****************************************/
    /*LANDING PAGE LAYOUT*/
/*****************************************/
.landing-text-view{
  height: 20em;
  background: url(../assets/recipes-back.jpeg)
   repeat scroll center center;
   color: #ffffff;
   padding-top: 11%;
   padding-left: 25%;
   font-weight: 700;
}

.card-deck{
  margin-bottom: 3%;
}

.card{
  height: 400px;
  width: 20%;
  /*background-color: #d3cbcc;*/
}

.card a, .list-menu-button a{
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}

.card img{
  max-width:80%;
  height:80%;
  margin-left: 10%;
  padding-top: 3%;
}

.card-footer h6{
  margin-left: 20%;
}

.browse-list{
  margin-left: 42%;
}

.recipe-container{
  padding-top: 5%;
  padding-bottom: 5%;
}


/*****************************************/
    /*RECIPE LIST AND FAVORITED LIST LAYOUT*/
/*****************************************/
.search-bar{
  padding: 2% 2% 2% 3%;
  margin-bottom: 3%
}

#custom-search-input{
  margin-bottom: 2%;
  width: 60%;
  margin-left: 24%;
  text-align: center;
}

main ul {
  margin-top: 5%;
}

#main-page  li{
  list-style-type: none;
  display: inline-block;
  padding-bottom: 2%;
  margin-left: 20%;
}

aside{
  padding-top: 2px;
  border: 3px solid #847838;
  border-radius: 2%;
  padding-top: 10%;
}

aside h3{
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.main-card{
  width: 80%;
}

.favorite-card{
  margin-left: 10%;
  margin-bottom: 2%;
}

.downvote-button{
  margin-left: 15%;
}

.list-favorite{
  margin-bottom: 3%;
}


.detail-list{
  margin-left: 20%;
  margin-top: 10%;
}

.pagination{
  margin-left: 25%;
}


/*****************************************/
    /*FOOTER LAYOUT*/
/*****************************************/

footer {
  margin-top: 10%;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
}

/*****************************************/
    /*SIGNUP PAGE LAYOUT*/
/*****************************************/

.signup-page{
    margin-top: 5%;
    padding: 2% 2%;
}

.signup-page h1, .signup-page h2{
    text-align: center;
}

.signup-page h2 {
    margin-top: 70px;
}

.signup-page h1 {
    margin-top: 40px;
}
.singup-form{
    width: 30%; 
    margin: 25px auto;
}

.singup-form a{
    margin-top: 30px;
    text-decoration: none;
}

/*****************************************/
    /*LOGIN PAGE LAYOUT*/
/*****************************************/

.login-page{
    margin-left: 30%;
    width: 40%; 
}

.login-page h2{
    text-align: center;
    margin-top: 5%;
}




/*****************************************/
    /*RECIPE DETAIL LAYOUT*/
/*****************************************/

.recipe-detail h1{
   margin-top: 5%;
   margin-bottom: 5%;
   font-weight: 700;
   text-align: center;
}

.review-img-icon,
.ingredients,
.direction{
  padding: 2% 2%;
}

.ingredients{
  margin-bottom: 2%
}
.review-img-icon img{
   margin-left:3%;
}

.review-icon{
  margin-right: 20%; 
}

.detail-upvote-icon{
  margin-left: 25%;
  margin-right: 3%;

}

.first-review{
  margin-left: 5%;
}

.delete-recipe{
  color: red;
  text-decoration: none;
}

.recipe-review{
  margin-bottom: 2%;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.add-review{
  margin-top: 2%;
}

.rate-text, .p-rate{
  margin-right: 45%;
}

.add-review{
   padding: 2% 2%;
}
/*****************************************/
    /*PROFILE PAGE LAYOUT*/
/*****************************************/
.profile-page{
  margin-left: 2%;
}


#brand a {
    color: #5fabc9;
    font-weight: 800;
    text-transform: lowercase;
    font-size: 25px;
    text-decoration: none;
}

.myprofile-nav{
    margin-bottom: 50px;
}

.myprofile-nav p {
    margin-left: 100px;
}

.nav-elements{
    text-align: right;
    margin-left: 470px;
}
.nav-elements a{
    color: #fff ;
    text-decoration: none;
    font-size: 13px;
    margin-right: 15px;
}

#brand {
    color: #5fabc9;
    font-weight: 800;
    text-transform: lowercase;
    font-size: 25px;
}

.main-profile{
    margin-bottom: 570px;
}

.my-profile-main{
    float: left;
    width: 800px;
    margin-left: 10%;
}

.my-favorite-recipe{
    float: left;
}

.profile-footer{
    clear: both;
}

.my-profile-main a{
   text-decoration: none;
   margin-right: 10px;
}

.my-profile-main h3{
   margin-bottom: 20px;
   padding-left: 60px;
}

.my-profile-main p{
   padding-left: 70px;

}

.my-profile-main ul{
   margin-top: 60px;

}

.my-favorite-recipe p {
    font-size: 14px;
    text-align: center;
}